@charset "UTF-8";
/* CSS Document */


@font-face {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: "MAZIUSREVIEW20.09-Regular", serif;
  font-weight: 400;
  font-style: normal;
    src: url("assets/fonts/MAZIUSREVIEW2009-Regular.eot") format('embedded-opentype'),
         url("assets/fonts/MAZIUSREVIEW2009-Regular.ttf") format('truetype'),
         url("assets/fonts/MAZIUSREVIEW2009-Regular.woff") format('woff'),
} */

@font-face {
  font-family: "maziusDisplay";
  font-weight: 400;
  font-style: normal;
  /* font-stretch: normal; */
  src: local('MAZIUSREVIEW20.09-Regular'), local('MAZIUSREVIEW20.09-Regular'), url(https://collletttivo.it/assets/fonts/MaziusDisplayRegular.woff2) format('woff2');
http://collletttivo.it/assets/fonts/MaziusDisplayExtraItalic.woff2
}
@font-face {
  font-family: "maziusDisplay";
  font-weight: 400;
  font-style: italic;
  /* font-stretch: normal; */
  src: local('MAZIUSREVIEW20.09-Italic'), local('MAZIUSREVIEW20.09-Italic'), url(https://collletttivo.it/assets/fonts/MaziusDisplayItalic.woff2) format('woff2');
}
@font-face {
  font-family: "maziusDisplay";
  font-weight: 300;
  font-style: italic;
  /* font-stretch: normal; */
  src: local('MAZIUSREVIEW20.09-Extra-Italic'), local('MAZIUSREVIEW20.09-Extra-Italic'), url(https://collletttivo.it/assets/fonts/MaziusDisplayExtraItalic.woff2) format('woff2');
}


:root {
  /* --txt-normal:  1.5rem; */
  --txt-normal:     1.1rem;
  --txt-medium:     1.875rem;
  --txt-big:        2.25rem;
}

*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased !important;
  outline: none;
}
/* html, body, .container{ height: 100%; margin: 0; padding: 0; } */

body {
  padding: 0;
  margin: 0;
  color: black;
  background-color: white;
  font-size: var(--txt-normal);
}

html {
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol","neue-haas-grotesk-display";
}


h1{
  font-family: "maziusDisplay", serif;
  font-size: 2.7rem;
  line-height: 5rem;
  font-weight: 400;
  text-align: center;
}

h2{
  font-family: "maziusDisplay", serif;
  font-size: 2.3rem;
  line-height: 4.50rem;
  font-weight: 400;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "maziusDisplay", serif;
    text-align: center;
}

.description{
  font-family:"neue-haas-grotesk-display", serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.description-physicalinternet{
  font-family:"neue-haas-grotesk-display", serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  position:absolute;
  top:0px;
}

.description-down{
  margin-top:4rem;
  vertical-align: bottom;
}


p {
  line-height: 1.25em;
  max-width: 1280px;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.page {
  width: 100%;
  margin-top:0.2rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.fixed {
  position: fixed;
}

.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

/*Sections Area*/

	/*Coverpage*/
	.cover {
    margin-top:7rem;
	}

	#coverpage {
		height: 100vh;
	}

  	#page {
  		height: 100vh;
  	}
.footer{
  position: absolute;
bottom: 0;
left: 0;
width: 100%;
}

  .icon-arrow-down{
    margin-top:5rem;
    height: 2.3%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .closing-x{
    height: 2.3%;
    width: auto;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    position: fixed;
    margin-top: 25px;
  }


.text-hover a:hover{
    color: black;
    text-decoration: underline;
}

.text-hover-white a:hover{
    color: white;
    text-decoration: underline;
}


.fuso-image{
  height: 60%;
  width: auto;
  position: absolute;
  /* left:var(--mouse-x, 100)*100px;
  top:var(--mouse-x, 100)*100px; */
}

.image-project{
  margin-top:0.6%;
  height: 50%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-project-2{
  margin-top:0.6%;
  height: auto;
  width: 100%;
  display: block;
}

.image-project-3 {
  width: 33%;
  height: 33%;
  display: inline-block;
  padding-left: 15px;
}
.image-project-4 {
  width: 49.5%;
  height: 49.5%;
  display: inline-block;
  padding-left: 15px;
  padding-top: 15px;
}
.image-project-5 {
  margin-top:0.6%;
  height: auto;
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image-project-6 {
  width: 24.75%;
  height: 24.75%;
  display: inline-block;
  padding-left: 15px;
  padding-top: 15px;
}

.image-physicalinternet{
  margin-top:0.6%;
  height: 15%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image-contratempo{
  margin-top:0.6%;
  height: 14%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-outforia{
  margin-top:0.6%;
  height: 20%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-setjettersunited{
  margin-top:0.6%;
  height: 32.5%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-atavola{
  margin-top:0.6%;
  height: 92%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-placemaking{
  margin-top:0.6%;
  height: 60%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-fuso{
  margin-top:0.6%;
  height: 100%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.main-title{
  /* font-size: 12em;
  line-height: 1.25em;
  font-weight: 500; */
  margin-top:1.5rem;
}
.curriculum-description{
    margin-top:0.5rem;
}

.main-subtitle{
  margin-top:0.2rem;
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 500;
}


.margin-fifty {
	/* margin-left: 50px; */
	/* margin-right: 50px; */
}

.margin-hundred {
	/* margin-left: 100px;
	margin-right: 100px; */
}

/* -------------------- */
/* home page */
/* -------------------- */

/* #image-when-hovering-text{
  position:absolute;

}

#image-when-hovering-text2 {
  display: none; }

  #project01:hover #image-when-hovering-text2 {
    display: inline;
    top: "calc(var(--mouse-x, 0) * 100%)";
    left:"calc(var(--mouse-y, 0) * 100%)";
  overflow: visible;
}

#btn {
  position:absolute;
    display:none;
} */



/* -------------------- */
/* sections home page for scrolling */
/* -------------------- */

#section1 {
  height: 600px;
  /* background-color: pink; */
}

#section2 {
  height: 600px;
  /* background-color: yellow; */
}

/* [aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 1;
} */
/* -------------------- */
/* Navigation */
/* -------------------- */

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  line-height: 1em;
  padding: .5em 1em .2em;
  border-bottom: 1.5px solid black;
}

.main-nav .left {
  display: flex;
}

.main-nav .site-title {
  margin-right: 4em;
  cursor: pointer;
}

.bar{
  border-bottom: 1.5px solid black;

}

.menu-right{
  float:right;
}

.fixed-posit{
 overflow: hidden;
 background-color: #FFF;
 position: fixed; /* Set the navbar to fixed position */
 top: 0; /* Position the navbar at the top of the page */
 width: 100%; /* Full width */
  z-index: 100;
}

.non-fixed-posit{
 /* overflow: hidden; */
 background-color: #FFF;
 position: absolute;; /* Set the navbar to fixed position */
 top: 0; /* Position the navbar at the top of the page */
 width: 100%; /* Full width */
  z-index: 100;
}

.bar-menu {
  /* border-right: 1.5px solid black; */
  padding-top: 20px;
  text-align: left;

}

.bar-menu-archive{
  border-left: 1.5px solid black;
  border-right: 1.5px solid black;
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: left;
  }

  .bar-menu-contact {
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: left;
  }

  .bar-about {
    padding-top: 20px;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    border-right: 1.5px solid black;
    text-transform: uppercase;
  }

  .bar-about-right {
    padding-top: 20px;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    text-transform: uppercase;
  }

  .padding-zero {
    padding-right: 0px;
    padding-left: 0px;
  }


  /* -------------------- */
  /* curriculum */
  /* -------------------- */

  .curriculum-bg{
    background-color: #078843;
  }

  .curriculum-description{
  font-family:"neue-haas-grotesk-display", serif;
    font-size: 1.7rem;
    line-height: 2.50rem;
    font-weight: 400;
    text-align: left;
    color: white;
  }



  /* -------------------- */
  /* Images grid */
  /* -------------------- */


  .wrapper {
    display: grid;
    grid-gap: 10px;
    /* grid-template-columns: 500px 500px 500px; */
  }

  .box {
    /* padding: 20px; */
    font-size: 150%;
  }

  .a {
    grid-column: 1 /3;
    grid-row:  1 / 2;
  }

  .b {
    grid-column: 3;
    grid-row: 1 /3 ;
  }

  .c {
    grid-column: 1;
    grid-row: 1;
  }

  .d {
    grid-column: 2;
    grid-row: 2;
  }

/* -------------------- */
/* Project list */
/* -------------------- */

.project-list {
  height: 120vh;
}

.project-list > .project {
  /*flex: 1;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1.5px solid black;
  border-right: 1.5px solid black;
  border-left: 1.5px solid black;
  overflow: hidden;
}

.project.active {
  color: #fff;
  background-color: #000;
}

.project .project-info {
  display: flex;
  width: 100%;
  height: 1.65em;
  transition: height .5s;
}

.project:not(.active):hover > .project-info,
.project.active .project-info {
  height: 2.5em;
}

.project .project-info p {
  padding: .4em 1em;
}

.project .project-info .project-index {
  width: 2.5em;
}

.project .project-info .project-title {
  flex: 1;
}

.project .project-info .project-category {
  flex: 1;
}

.project .project-info .project-year {
  min-width: 5.75em;
}

.project .project-content {
  height: 0;
  transition: height .5s;
}

.project.active .project-content {
  height: 640px;
}

.project img {
  display: none;
}

.project.active img {
  display: block;
}



/* -------------------- */
/* About */
/* -------------------- */

.about{
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
}

#about {
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: fixed;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  bottom: 105vh;
  left: 0;
  font-size: var(--txt-medium);
  color: white;
  background-color: #d80000;
  padding: 2em 2em 1em;
  transition: bottom .5s;
  overflow: scroll;
}

#about.active {
  position:absolute;
  bottom: 0;
}

#about h1 {
  font-weight: 400;
}

#about p {
  padding: 1em 0;
}

#about .about-close {
  position: absolute;
  top: 1.25em;
  right: 1.5em;
  font-size: var(--txt-big);
  cursor: pointer;
}

#about .download-cv {
  position: relative;
  display: inline-block;
  /*font-weight: 500;*/
  /*text-transform: uppercase;*/
  /*text-align: center;*/
  padding-top: 1em;
}

#about .download-cv:after {
  content: "";
  position: absolute;
  bottom: 6px;
  width: 100%;
  border-bottom: 1px solid #fff;
}


/* -------------------- */
/* Swiper */
/* -------------------- */

.swiper-container {
  width: 100%;
  height: calc(100vh - 2.35em);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /*height: 62.5%;*/
  /*background: #fff;*/
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}

.swiper-slide.project-slide {
  /*height: calc(100% - 1.3em);*/
  /*height: 125%;*/
}

.swiper-slide.project-slide img {
  height: 100%;
  width: auto;
}

/* #overview, .project-content {
  cursor: url("./assets/images/arrow-right.png") 32 32, auto;
}

#overview.arr-back, .project-content.arr-back {
  cursor: url("./assets/images/arrow-left.png") 32 32, auto;
} */


/* -------------------- */
/* CAROSELLO A TAVOLA*/
/* -------------------- */


/*Carousel*/
.image-carousel{
    height:auto;
    width: 40%;
    margin-left:auto;
    margin-right: auto;
}

.freccia {
	width: 20px;
	display: block;
  vertical-align: middle;
}

.hidden-arrow-desktop {
    display: none;
}

p.orangebold {
	color: #F39200;
	font-weight: 500;
}

p.orangep {color:#F39200; }

.titles {margin-bottom: 50px;
font-weight: 600;}


/* -------------------- */
/* INDEX PROVA HOVER*/
/* -------------------- */


/* top: '--mouse-x';
left:'--mouse-y'; */

/* .cover-img{

visibility: hidden;
}

#project01:hover .cover-img {
    visibility: visible;
    width: 150px;
  height: 150px;
  position: absolute;
  display: block;
  z-index: 100;
} */

/*
(at calc(var(--mouse-x, 0) * 100%) calc(var(--mouse-y, 0) * 100%), yellow, green)  */

/* -------------------- */
/* Media Queries */
/* -------------------- */

@media screen and (min-width: 1800px) {
  html {
    font-size: 18px;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
  .project.active .project-content {
    height: 70vh;
  }
  .project.active .project-content ul {
    height: 90%;
  }

}

@media screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }
  img {
    width: auto;
    height: 100%;
  }
  .project.active .project-content {
    height: 60vh;
  }
  .project.active .project-content ul {
    height: 100%;
  }
  .project-list {
    height: auto;
  }
  .swiper-slide.project-slide {
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 13px;
  }
  .flex {
    display: block;
  }
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
  .project.active .project-content {
    height: 45vh;
  }
  .project .project-info {
    height: 1.9em;
  }
  #about {
    font-size: var(--txt-normal);
    padding: 4.5em 1.5em 2em;
  }
  #about .about-close {
    top: 2em;
    right: 1em;
  }
  .swiper-slide.project-slide {
    height: 90%;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .swiper-slide.project-slide img {
    height: auto;
    width: 100%;
  }

}
