@charset "UTF-8";

/*HOMEPAGE PHONE-----------------------------------------------------------------------------*/
@media (max-width: 576px) {
.marginten {margin-top: 2900px;}

/* .one {background-image: url("https://raw.githubusercontent.com/BazziBeatrice/portfolio/master/assets/intro/spleen-intro2.jpg")} */
.one {background-image: url("../assets/intro/spleen-intro2.jpg")}
.two {background-image: url("../assets/intro/thelostgallery-intro.jpg")}
.three {background-image: url("../assets/intro/physicalinternet-intro.jpg")}
.four {background-image: url("../assets/intro/placemaking-intro.jpg")}
.five {background-image: url("../assets/intro/setjettersunited-intro.jpg")}
.six {background-image: url("../assets/intro/contratempo-intro.png")}
.seven {background-image: url("../assets/intro/outforia_intro2.png")}

.fixed-phone {background-attachment: fixed;background-repeat: no-repeat;background-size: 60%;
    background-position: center center;
    /* height: 100%; */
    width: 100%;
    z-index:50;text-align: center;
    /* display: table; */
    display: flex;
  }
.fixed-phone2 {background-attachment: fixed;background-repeat: no-repeat;background-size: 70%;
      background-position: center center;
       /* height: 100%; */
       width: 100%;
      /* z-index:50;
      text-align: center; */
      /* display: table; */
    display: flex;}
.fixed h2 {display: table-cell;vertical-align: middle;}


  h1 {
    font-family: "maziusDisplay", serif;
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 400;
    text-align: center;
    /* margin-top:40px; */
    /* mix-blend-mode: exclusion; */
    /* text-align: left; */
  }
.shadow-phone{text-shadow: 1px 1px 0 #f1f1f1;;}
.margin-index-top{margin-top:50%;margin-bottom:50%;}

.margin-index-top2{margin-top:2800px;}

  h2 {
    font-family: "maziusDisplay", serif;
    font-size: 1.3rem;
    line-height: 3.50rem;
    font-weight: 400;
    text-align: center;
    }

  /* #main-title {font-size: 38px;} */

  #main-subtitle {font-size: 28px;}

  .image-phone{
    z-index: -10;
    display: flex;
    position: fixed;
    overflow-x: scroll;
    top: 25%;
    left: 20%;
    width: 60%;
    height: auto;
  }
  .image-phone2{
    z-index: -10;
    display: flex;
    position: fixed;
    overflow-x: scroll;
    top: 35%;
    left: 3%;
    width: 90%;
    height: auto;
  }
  .image-phone3{
    z-index: -10;
    display: flex;
    position: fixed;
    overflow-x: scroll;
    top: 30%;
    left: 20%;
    width: 60%;
    height: auto;
  }

  .margin-fifty {
    margin-left: 10px;
    margin-right: 10px;
  }

  .margin-hundred {
    margin-left: 10px;
    margin-right: 10px;
  }

  canvas {
    pointer-events: none;
    display: none;
  }

  .paddingnavbar {
    padding-right: 0px;
    padding-left: 0px;
  }

  #set-jetters-logo {
    width: 100px;
  }

  .textbar {
    display: none;
  }

  .cover {
    padding-top: 0.7rem;
  }

  .margintwohundred {
    margin-top: 50px;
  }

  .image-carousel {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .margin-top3 {
    margin-top: 40%
  }

  .margin-top-phone {
    margin-top: 50%
  }

  /* spleen */
  .image-spleen-page {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
  }

  /* the lost gallery */
  .image-thelost-home {
    margin-top: 0.6%;
    width: 72%;
    height: auto;
  }

  .image-outforia {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
  }

  .image-thelost22 {
    margin-top: 0.6%;
    width: 90%;
    height: auto;
  }

  .image-thelost-1 {
    display: none;
  }

  /* the physical internet */
  .image-project-5 {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
  }

  .image-physicalinternet {
    margin-top: 0.6%;
    margin-right: 0.6%;
    height: auto;
    width: 55%;
  }

  /* digital place making */
  .image-project-protocol2 {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
    display: block;
    margin-left: 0%;
  }

  .image-placemaking {
    margin-top: 0.6%;
    height: auto%;
    width: 100%;
  }

  /* setjetters united */
  .image-setjettersunited3 {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
  }

  .margineighty {
    margin-top: 200%;
  }

  .row-arrow-about-setjettersunited {
    position: absolute;
    top: 83.4%;
    left: 74.5%;
  }

  .arrowabout-setjettersunited {
    font-size: 29.2px;
  }

  /* contratempo */
  .image-contratempo {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
  }

  .image-project-11 {
    margin-top: -5%;
    height: auto;
    width: 500%;
    display: block;
  }

  .image-project-10 {
    margin-top: 1.6%;
    margin-left: -300%;
    height: auto;
    width: 500%;
    display: block;
  }

  /* outforia */
  .image-outforia-page {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
  }

  .image-outforia-screen {
    margin-top: 0.6%;
    margin-left: 0px;
    padding-left: 0px;
  }

  .image-outforia-screen1 {
    margin-top: 0.6%;
    margin-left: 60px;
    padding-left: 10px;
  }

  /* fuso */
  .image-fuso {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
  }

  .image-fuso-book {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
  }

  .image-fuso-book1 {
    margin-top: 0.6%;
    height: auto;
    width: 90%;
  }

  /* ihavegotnothingtowear */
  .image-ihavegotnothingtowear-home {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
  }

  #seek-bar {
    width: 70%;
  }

  #full-screen {
    bottom: 100%;
    right: 5%;
  }

  /* atavola */
  .image-first-page {
    margin-top: 0.6%;
    width: 80%;
    height: auto;
  }

  .image-carousel2 {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .image-atavola-page {
    margin-top: 0.6%;
    width: 80%;
    height: auto;
  }

  .margin-atavola {
    margin-top: 0%;
    margin-left: -5%;
  }

  /* lineunit */
  .image-lineunit {
    margin-top: 0.6%;
    width: 100%;
    height: auto;
  }

  /* thekingofmiami */
  .image-thekingof-home {
    margin-top: 0.6%;
    width: 100%;
    height: auto;
  }

  .image-outforia-screen2 {
    margin-top: 0.6%;
    margin-left: 60px;
    padding-left: 0px;
  }

  .image-lineunit {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
  }

  .text-hover {
    z-index: 5;
  }

  .driveyourcart-position {
    left: 0%;
  }

  .anything-position {
    top: 100px;
    left: 10%;
  }

  .description-setjettersunited {
    position: absolute;
    top: 230px;
    left: 10%;
  }

  .description-physicalinternet {
    font-family: "neue-haas-grotesk-display", serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 400;
  }

  .arrowabouttext-white {
    font-family: "neue-haas-grotesk-display", serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    vertical-align: middle;
    margin: auto;
    width: 80%;
    color: #EFEFEF;
  }

  .side-description {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  .side-description2 {
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding-right: 0px;
    margin-right: 0px;
  }

  .arrowabouttext {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .row-arrow-about {
    position: absolute;
    top: 55%;
    left: 67%;
  }

  .row-arrow-about-digitalplacemaking {
    position: absolute;
    top: 61%;
    left: 67%;
  }

  .row-arrow-about-spleen {
    position: absolute;
    top: 82%;
    left: 72.5%;
  }

  .nopadding {
    padding-right: 0px;
    padding-left: 0px;
  }

  /*footer*/
  .about {
    margin-bottom: -0.13rem;
  }

  .bar-about {
    border-bottom: 0px solid black;
  }

  .freccia {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    vertical-align: middle;
  }

    /*macchieinarte*/
    .image-project-4-2 {
    width:98%;
    height:98%;
    display:inline-block;
    padding-left:15px;
    padding-top:15px
    }
}

/*SINGLE TOUR PAGE PHONE-----------------------------------------------------------------------------*/
@media (max-width: 576px) {

  /*Change category btn*/
  .menucategory {padding: 3px 7px;}

  .currentcategory {padding: 3px 7px;}

  p:hover .extra {display: none;}

  /*Carousel*/
  .carousel {margin-bottom: 70px;}

  .carousel-margin-phone {
    margin-top: 2rem;
    margin-right: 30px;
    margin-left: 30px;
  }

  .hide-text-cards p, .hide-text-cards i {display: none !important;  }

  .freccia {margin-top: 0.9rem;width: 15px;}

  .hidden-arrow-desktop {display: block;}

  .hidden-arrow-mobile {display: none;}
}

/*ABOUT PHONE-----------------------------------------------------------------------------*/
@media (max-width: 576px) {
  .margin-fifty {margin-left: 10px;margin-right: 10px;}
  .margin-hundred {margin-left: 10px;  margin-right: 10px;  }
  .fixed {position: relative;}
/* placemaking - setjettersunited */
  .carousel-margin-about {  margin-left: 0px;margin-right: 0px;}
}

/*OLD ABOUT FOOTER----------------------------------------------------------------------------*/
/* Mobile */
@media (max-width: 576px) {
  .lists {margin-bottom: 3rem;}
  ul {list-style: none;  font-size: 15px;}
  .ul-b {font-weight: 800;}
}
