@charset "UTF-8";

/*HOMEPAGE TABLET----------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px) {

  .marginten {margin-top: 30%;  margin-bottom: 40%;}
  .description-main {
      font-family: "neue-haas-grotesk-display";
      font-size: 1.3rem;
      line-height: 2.3rem;
  }

  h1 {
    font-family: "maziusDisplay", serif;
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 400;
    text-align: center;
  }

  h2 {
    font-family: "maziusDisplay", serif;
    font-size: 1.3rem;
    line-height: 3.50rem;
    font-weight: 400;
    text-align: center;
  }

  .margin-fifty {
    margin-left: 10px;
    margin-right: 10px;
  }

  .margin-hundred {
    margin-left: 10px;
    margin-right: 10px;
  }

  canvas {
    pointer-events: none;
    display: none;
  }

  .paddingnavbar {
    margin-right: 0px;
    margin-left: -10px;
    padding-right: 0px;
    padding-left: 0px;
  }

  #set-jetters-logo {
    width: 100px;
  }

  .textbar {
    display: none;
  }

  .cover {
    padding-top: 0.7rem;
  }

  .margintwohundred {
    margin-top: 50px;
  }

  .image-carousel {
    height: auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .margin-top-phone {
    margin-top: 40%
  }

  /* .margin-top3 {
    margin-top: 40%
  }

  .margin-top-phone {
    margin-top: 50%
  } */

  /* #main-title {
    font-size: 44px;
  }

  #main-subtitle {
    font-size: 34px;
  } */

  .image-phone{
    display:none;
  }

  .image-phone2{
    display:none;
  }

  .image-phone3{
    display:none;
  }

  .icon-arrow-down {
      margin-top: 3.3rem;
      height: 2.3%;
      width: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .driveyourcart-position {
    left: 0%;
  }

  .anything-position {
    top: 80px;
      left: 10%;
  }
  .description-setjettersunited {
    position: absolute;
    top: 230px;
    left: 10%;
  }
  .row-arrow-about-setjettersunited {
    position: absolute;
    top: 91.4%;
    left: 88%;
}

}

/*HOMEPAGE TABLET IPAD-----------------------------------------------*/
@media (min-width: 768px) and (max-width: 992px) {
  .marginten {
    margin-top: 30%;
    margin-bottom: 0%;
  }

  .icon-arrow-down {
    margin-top: 3.3rem;
    height: 2.3%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .image-phone {
    display: none;
  }

  .image-phone2 {
    display: none;
  }

  .image-phone3 {
    display: none;
  }

  /* index */
  .description-main {
    font-family: "neue-haas-grotesk-display";
    font-size: 1.3rem;
    line-height: 2.3rem;
  }

  #section2 {
    height: 800px;
  }

  h1 {
    font-family: "maziusDisplay", serif;
    font-size: 3.1rem;
    line-height: 4.1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 3%;
  }

  h2 {
    font-family: "maziusDisplay", serif;
    font-size: 2.8rem;
    line-height: 4.7rem;
    font-weight: 400;
    text-align: center;
  }

  /* #main-subtitle {
      font-size: 34px;
      line-height: 50px;
    } */
  .margin-fifty {
    margin-left: 10px;
    margin-right: 10px;
  }

  .margin-hundred {
    margin-left: 10px;
    margin-right: 10px;
  }

  canvas {
    pointer-events: none;
    display: none;
  }

  .paddingnavbar {
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 0px;
    padding-left: 0px;
  }

  #set-jetters-logo {
    width: 100px;
  }

  .textbar {
    display: none;
  }

  .cover {
    padding-top: 0.7rem;
  }

  .margintwohundred {
    margin-top: 50px;
  }

  .image-carousel {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  /* spleen */
  .image-spleen-page {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
  }

  /* the lost gallery */
  .image-thelost-home {
    margin-top: 0.6%;
    width: 72%;
    height: auto;
  }

  .image-outforia {
    margin-top: 0.6%;
    height: auto;
    width: 70%;
  }

  .image-thelost22 {
    margin-top: 0.6%;
    width: 120%;
    height: auto;
  }

  .image-thelost-1 {
    display: none;
  }

  /* the physical internet */
  .image-project-5 {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
  }

  .image-physicalinternet {
    margin-top: 0.6%;
    margin-right: 0.6%;
    height: auto;
    width: 55%;
  }

  /* digital place making */
  .image-project-protocol2 {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
    display: block;
    margin-left: 0%;
  }

  .image-placemaking {
    margin-top: 0.6%;
    height: auto%;
    width: 100%;
  }

  /* setjetters united */
  .image-setjettersunited3 {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
  }

  .margineighty {
    margin-top: 200%;
  }

  .row-arrow-about-setjettersunited {
    position: absolute;
    top: 91.4%;
    left: 88%;
  }

  .arrowabout-setjettersunited {
    font-size: 29.2px;
  }

  /* contratempo */
  .image-contratempo {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
  }

  .image-project-11 {
    margin-top: -45%;
    height: auto;
    width: 200%;
    display: block;
  }

  .image-project-10 {
    margin-top: 1.6%;
    margin-left: -100%;
    height: auto;
    width: 200%;
    display: block;
  }

  /* outforia */
  .image-outforia-page {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
  }

  .image-outforia-screen {
    margin-top: 0.6%;
    margin-left: 0px;
    padding-left: 0px;
  }

  .image-outforia-screen1 {
    margin-top: 0.6%;
    margin-left: 60px;
    padding-left: 10px;
  }

  /* fuso */
  .image-fuso {
    margin-top: 0.6%;
    height: auto;
    width: 70%;
  }

  .image-fuso-book {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
  }

  .image-fuso-book1 {
    margin-top: 0.6%;
    height: auto;
    width: 90%;
  }

  /* ihavegotnothingtowear */
  .image-ihavegotnothingtowear-home {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
  }

  .image-project-2 {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
    display: block;
  }

  .marginonehundredhalf-top {
    margin-top: 0px;
  }

  #seek-bar {
    width: 60%;
  }

  #full-screen {
    bottom: 90%;
    right: 5%;
  }

  /* atavola */
  .image-first-page {
    margin-top: 0.6%;
    width: 80%;
    height: auto;
  }

  .image-carousel2 {
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .image-atavola-page {
    margin-top: 0.6%;
    width: 60%;
    height: auto;
  }

  .margin-atavola {
    margin-top: 0%;
    margin-left: -5%;
  }

  /* lineunit */
  .image-lineunit {
    margin-top: 0.6%;
    width: 80%;
    height: auto;
  }

  /* thekingofmiami */
  .image-thekingof-home {
    margin-top: 0.6%;
    width: 70%;
    height: auto;
  }

  .image-outforia-screen2 {
    margin-top: 0.6%;
    margin-left: 60px;
    padding-left: 0px;
  }

  /* spleen */
  .row-arrow-about-spleen {
    position: absolute;
    top: 95.5%;
    left: 86.6%;
  }

  .arrowabout-category {
    font-size: 26px;
  }

  .description-down {
    margin-top: 0rem;
    vertical-align: bottom;
  }
}
/*HOME PAGE TABLET ipad pro----------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1024px) {
  h1 {
    font-family: "maziusDisplay", serif;
    font-size: 3.5rem;
    line-height: 4.9rem;
    font-weight: 400;
    text-align: center;
    margin-top: 5%;
  }

  h2 {
    font-family: "maziusDisplay", serif;
    font-size: 2.7rem;
    line-height: 4.50rem;
    font-weight: 400;
    text-align: center;
    margin-top: 2%;
  }

  .icon-arrow-down {
    height: 3%;
  }

  /* setjettersunited */
  .row-arrow-about-setjettersunited {
    position: absolute;
    top: 90.4%;
    left: 52%;
  }

  #seek-bar {
    width: 70%;
  }

  .margin-atavola {
    margin-top: 0%;
    margin-left: 5%;
  }

  /* outforia */
  .image-outforia-page {
    margin-top: 0.6%;
    height: auto;
    width: 100%;
  }
}

/*VIDEO HOME PAGE TABLET IPAD----------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 992px) {}

  /*CATEGORY TABLET----------------------------------------------------------------------------*/
  @media (min-width: 768px) and (max-width: 1024px) {
    .full-img {
      object-fit: cover;
      overflow: hidden;
      object-position: 45%;
    }

    #full-img-tablet {
      display: block;
    }

    #full-img-desktop {
      display: none;
    }
  }
  /*SINGLE TOUR PAGE TABLET-----------------------------------------------------------------------------*/
  @media (min-width: 768px) and (max-width: 1024px) {

    /*Carousel*/
    .carousel {
      margin-bottom: 50px;
    }

    /* .freccia {margin-top: 120px;} */
  }

  /*SINGLE TOUR PAGE TABLET IPAD-----------------------------------------------*/
  @media (min-width: 768px) and (max-width: 992px) {

    /*Carousel*/
    /* .freccia {  margin-top: 430px;} */
    /*Reviews*/
    .marginbottom-review {
      margin-bottom: 2rem;
    }
  }

  /*ABOUT TABLET-----------------------------------------------------------------------------*/
  @media (min-width: 768px) and (max-width: 1024px) {
    .margin-fifty {
      margin-left: 25px;
      margin-right: 25px;
    }

    .fixed {
      position: relative;
    }

    .carousel-margin-about {
      margin-left: 50px;
      margin-right: 0px;
      margin-top: 50px;
    }

    .row-arrow-about {
      position: absolute;
      top: 92.5%;
      left: 85.5%;
    }

    ul {
      list-style: none;
      font-size: 20px;
      padding-left: 0rem;
      margin-right: 0rem;
      margin-left: 0rem;
    }

    .ul-b {
      font-weight: 800;
    }
  }

  /*ABOUT PAGE TABLET IPAD-----------------------------------------------*/
  @media (min-width: 768px) and (max-width: 992px) {
    .carousel-margin-about {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 50px;
    }

    .row-arrow-about {
      position: absolute;
      top: 92.5%;
      left: 91.5%;
    }
  }
